.blink {
  animation: blink 1.5s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.myname {font-size: 30px!important;}


html *
{
   font-size: 1.02em !important;
   /*
   color: #000 !important;
   font-family: Arial !important;
   */
}
